# deepseek API配置
DEEPSEEK_API_KEY=sk-e8ab31c733dc475fb2192e72f7ccc929 # sk-your-key-here
DEEPSEEK_BASE_URL=https://api.deepseek.com/anthropic
DEEPSEEK_MODEL= deepseek-v4-pro# deepseek-v4-flash / deepseek-v4-pro
